<header>
    <nav class="navbar navbar-expand-md fixed-top font-weight-bold">
        <a class="navbar-brand nav-link p-2" href="#">
            Bootstrap SideNav
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent"
                aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>
		<div class="collapse navbar-collapse" id="navbarContent"><!--<div class="row">-->
        <!--<div class="col-md-8">-->
			開始
			{% block header %}{% endblock %}
			endblock header
        <!--</div>-->
	
<!--        <div class="col-md-4"> 
        <input type="Email" id="txtEmail" placeholder="Enter Email"><br>
        <input type="password" id="txtPwd" placeholder="Enter Password"><br>
        
        <button class="btn btn-outline-success my-sm-0" id="btnLogin">
        <a class="nav-link">
                        &nbsp;<i class="fas fa-sign-in-alt">會員登入</a></button>
        <button class="btn btn-outline-success my-sm-0" id="liSignUp">
        <a class="nav-link">
                        &nbsp;<i class="fas fa-sign-in-alt">註冊</a></button>
        </div>                           

        <div class="col-md-4 pull-right">
<form class="form-inline my-lg-0" action="http://www.google.com/search" method="get">
          <input class="form-control" type="search" placeholder="Search" aria-label="Search" name="q">
          <button class="btn btn-outline-success my-sm-0" type="submit">Search</button>
        </form>
        </div>-->
		</div>
	</nav>
	<nav class="sidenav"></nav>
</header>